@{
	ViewBag.Title = "Crear Orden";
}

<form action="~/create" method="post">
	<h3>Crear Orden</h3>

	<div>
		<label class="form-label">Cliente</label>
		<input type="text" class="form-input" />
	</div>
</form>